/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  /* Prevent horizontal scroll */
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  /* Prevent container overflow */
}

.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Title Styling */
.title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(123, 199, 123, 0.8);
  text-align: center;
  font-family: Arial;
  font-size: small;
  color: white;
  z-index: 10;
  user-select: none;
}

.ar-btn {
  position: fixed;
  top: 50%;
  height: 10%;
  width: 40%;
}

/* Mode toggle button */
.toggle-mode-btn {
  position: relative;
  right: inherit;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
  font-size: 1em;
  user-select: none;
}

.toggle-mode-btn:hover {
  background-color: #218838;
}

/* Toggle Sidebar Button */
.toggle-sidebar-btn {
  position: inherit;
  right: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
  transition: top 0.3s ease;
  font-size: 1em;
  user-select: none;
}

.toggle-sidebar-btn-open {
  position: inherit;
}

.toggle-sidebar-btn-closed {
  position: fixed;
  right: 0px;
  bottom: 1%;
  transition: top;
  border-radius: 20px 0 0 20px;
}

.toggle-sidebar-btn-open:hover {
  background-color: lightcoral;
}

/* Sidebar Styling */
.sidebar {
  position: fixed;
  width: 100%;
  padding: 10px;
  background: #f0f0f0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: 100vh;
  transition: top 0.3s ease;
  z-index: 20;
  border-radius: 20px;
}

.sidebar-open {
  top: 100px;
}

.sidebar-closed {
  top: 100%;
}

.category {
  margin-bottom: 20px;
}

.category-title {
  user-select: none;
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
  text-align: center;
}

.category-divider {
  margin-bottom: 1px;
}

.subcategory {
  margin-bottom: 1px;
}

.subcategory-title {
  font-size: 14px;
  margin-bottom: 8px;
  user-select: none;
  color: #555;
}

.parts-grid {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.part-button {
  width: 100%;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  user-select: none;
  transition: background-color 0.2s ease;
}

.part-button-visible {
  background-color: rgb(107, 221, 107);
}

.part-button-hidden {
  background-color: lightcoral;
}

/* Controls */
.controls-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 20;
}

.control-btn {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
}

.rotation-btn {
  background: blue;
}

.reset-btn {
  background: green;
}

/* Organ Info */
.organ-info {
  position: absolute;
  top: 5%;

  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 8px;
  max-width: 100%;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 60%;
  z-index: 0;
}

.organ-title {
  margin: 0;
  font-size: 12px;
  color: #333;
  text-align: center;
}

.organ-description {
  margin: 0;
  font-size: 14px;
  color: #555;
  text-align: justify;
}

/* Scrollbars */
.sidebar::-webkit-scrollbar,
.organ-info::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-track,
.organ-info::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar::-webkit-scrollbar-thumb,
.organ-info::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover,
.organ-info::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* For Firefox */
.sidebar,
.organ-info {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

/* Responsive Styles */
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
  }

  .ar-btn {
    position: fixed;
    top: 80vh;
    height: fit-content;
  }

  /* Mode toggle button */
  .toggle-mode-btn {
    position: fixed;
    top: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    font-size: 1em;
    user-select: none;
  }

  .toggle-mode-btn:hover {
    background-color: #218838;
  }

  /* Toggle Sidebar Button */
  .toggle-sidebar-btn {
    position: inherit;
    right: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    transition: top 0.3s ease;
    font-size: 1em;
    user-select: none;
  }

  .toggle-sidebar-btn-open {
    position: inherit;
  }

  .toggle-sidebar-btn-closed {
    position: fixed;
    right: 0px;
    bottom: 1%;
    transition: top;
    border-radius: 20px 0 0 20px;
  }

  .toggle-sidebar-btn-open:hover {
    background-color: lightcoral;
  }

  .sidebar {
    position: fixed;
    width: 100%;
    padding: 10px;
    background: #f0f0f0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 100vh;
    transition: top 0.3s ease;
    z-index: 20;
    border-radius: 20px;
  }

  .sidebar-open {
    top: 0;
  }

  .sidebar-closed {
    top: 100%;
  }

  .title {
    font-size: 18px;
  }

  .category-title,
  .subcategory-title,
  .part-button {
    font-size: 12px;
  }

  .organ-info {
    width: 80%;
  }
}

@media (max-width: 20%) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
  }

  .ar-btn {
    position: fixed;
    top: 80%;
    height: 10%;
    width: 40%;
  }

  /* Mode toggle button */
  .toggle-mode-btn {
    position: fixed;
    top: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    font-size: 1em;
    user-select: none;
  }

  .toggle-mode-btn:hover {
    background-color: #218838;
  }

  /* Toggle Sidebar Button */
  .toggle-sidebar-btn {
    position: inherit;
    right: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    transition: top 0.3s ease;
    font-size: 1em;
    user-select: none;
  }

  .toggle-sidebar-btn-open {
    position: inherit;
  }

  .toggle-sidebar-btn-closed {
    position: fixed;
    right: 0px;
    bottom: 1%;
    transition: top;
    border-radius: 20px 0 0 20px;
  }

  .toggle-sidebar-btn-open:hover {
    background-color: lightcoral;
  }

  .sidebar {
    position: fixed;
    width: 100%;
    padding: 10px;
    background: #f0f0f0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 100vh;
    transition: top 0.3s ease;
    z-index: 20;
    border-radius: 20px;
  }

  .sidebar-open {
    top: 0;
  }

  .sidebar-closed {
    top: 100%;
  }
}